/*
TABLE OF CONTENTS: 
----------------------------------------------
1. GLOBAL SEMANTIC ELEMENTS
2. NAVBAR
3. NAVBAR | WAVES
4. LOGO
5. JUMBOTRON
6. FEATURES
7. ICONS
8. SEARCH
9. FOOTER
10. MAP IMAGE
11. RESULTS
12. PLAN YOUR DAY SECTION
13. ERROR
14. TODO LIST
15. CITY SEARCH HISTORY
16. OTHER
-- 
*/

/* --------------------------
1. GLOBAL SEMANTIC ELEMENTS
-------------------------- */ 
body {
  font-family: 'Open Sans', sans-serif;
  
}

/* --------------------------
2. NAVBAR
-------------------------- */ 
.new-nav-color {
  background-color: #4d6dfa;
}

/* --------------------------
3. NAVBAR | WAVES
-------------------------- */ 
#waves-container {
  position:relative;
}
.custom-shape-divider-top-1631660211 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631660211 svg {
  position: relative;
  display: block;
  width: calc(227% + 1.3px);
  height: 68px;
}

.custom-shape-divider-top-1631660211 .shape-fill {
  fill: #4D6DFA;
}

/* --------------------------
4. LOGO
-------------------------- */ 
#daytripper-logo {
  height:100%;
  width: 100%;
}

/* --------------------------
5. JUMBOTRON
-------------------------- */ 
.blue-h1 {
  color: #4d6dfa;
  font-weight: 700;
}

#main-photo {
  margin-top: 50px;
}
.main-btn {
  background-color: #394d8b;
}

/* --------------------------
6. FEATURES
-------------------------- */ 
#features-container {
  background-color: #f2f3ff;
  width:100% !important;
}

/* --------------------------
7. ICONS
-------------------------- */ 
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.blue-icon {
  color: #4d6dfa;
}
/* --------------------------
8. SEARCH
-------------------------- */ 
#search-container{
  border-bottom: 1px #dedede solid;
  padding-bottom: 50px;
}
.search-btn {
  background-color: #394d8b;
}
.clear-btn {
  background-color: #c62828;
  display:inline-block;
}
/* TODO: ALLEN'S GOOGLE INPUT */
#city-search {
  /* This is the search input field */
}

input[type="submit"] {
  /* This is the search button */
}

/* --------------------------
9. FOOTER
-------------------------- */ 
.blue-footer {
  background-color: #394d8b;
}
#project-documenetation {
  color: #ffffff !important;
}

#project-documenetation a {
  color: #ffffff !important;
}

/* --------------------------
10. MAP IMAGE
-------------------------- */ 
#Map {
  height: 250px;
}
#map-image {
  width: 100%;
}

/* --------------------------
11. RESULTS
-------------------------- */ 
#details {
  padding-left: 0 !important;
}
#details li {
  float:left;
  padding-left: 10px;
  font-size: large;
}
#city-name {
  font-weight: 800;
}
#recommendation {
  color:#4d6dfa;
}
#temperature {
  font-weight: 800;
  font-size: xxx-large;
  float: left;
}
#temp-icon {
  float:left;
}
#temp-icon img {
  width: 70px;
  height: 70px;
}
#v2-0-note {
  color: #4d6dfa;
  font-style: italic;
}

/* --------------------------
12. PLAN YOUR DAY SECTION
-------------------------- */ 
#plan-your-day {
  /* TODO: Would be nice to add a transition to ease down page */
}

/* --------------------------
13. ERROR
-------------------------- */ 
#error-header {
  color: #c62828;
  font-weight: bold;
}

/* --------------------------
14. TODO LIST
-------------------------- */ 
#todo-container {
  background-color: #f2f3ff;
  width:100% !important;
  padding: 20px;
}

/* --------------------------
15. CITY SEARCH HISTORY
-------------------------- */ 
.city-search-title {
  color:darkgrey;
}
/* --------------------------
16. OTHER
-------------------------- */ 